<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>962651442274-36k8f9dbmo3ltkmnrtp76p21hqv23vfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962651442274-36k8f9dbmo3ltkmnrtp76p21hqv23vfg</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ1ORv0Y003_s_2aMupclfoDvNh2FmZU0</string>
	<key>GCM_SENDER_ID</key>
	<string>962651442274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>solo</string>
	<key>PROJECT_ID</key>
	<string>soloproject-9f692</string>
	<key>STORAGE_BUCKET</key>
	<string>soloproject-9f692.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962651442274:ios:4b8991848ed747aa</string>
	<key>DATABASE_URL</key>
	<string>https://soloproject-9f692.firebaseio.com</string>
</dict>
</plist>